/* css reset! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS reset compete! */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
font-size: 14px;
line-height: 1.43;
color: #484848;
background-color: #fff;
margin: 0;
}



.primary {
  display:'flex';
  border-bottom: 2px solid #949599;
  height: 150px;
  margin: 20px;
  padding: 20px;
  max-width: 696px;
}

.search {
  display: inline;
  max-width: 90%;
}

.scores {
  display: inline-flex;
}

.navbutton {
  -moz-box-pack: center !important;
  -moz-box-align: center !important;
  background-color: transparent !important;
  display: inline-flex !important;
  color: rgb(0, 132, 137) !important;
  justify-content: center !important;
  vertical-align: middle !important;
  margin-right: 36px !important;
  line-height: 10px !important;
  margin-left: 0px !important;
  align-items: center !important;
}

.navbuffer {
  -moz-box-pack: center !important;
  -moz-box-align: center !important;
  background-color: transparent !important;
  display: inline-flex !important;
  justify-content: center !important;
  vertical-align: middle !important;
  margin-right: 36px !important;
  line-height: 10px !important;
  margin-left: 0px !important;
  align-items: center !important;
}

.sidewaysbutton {
  /* this is ripped straight from the air b&b website; consequently, i don't perfectly understand how it all works! */
  -moz-box-pack: center !important;
  -moz-box-align: center !important;
  align-items: center !important;
  background-color: transparent !important;
  display: inline-flex !important;
  border-radius: 50% !important;
  box-shadow: rgb(0, 132, 137) 0px 0px 0px 1px inset !important;
  color: rgb(0, 132, 137) !important;
  height: 32px !important;
  width: 32px !important;
  justify-content: center !important;
  vertical-align: middle !important;
  margin-right: 36px !important;
  line-height: 10px !important;
  margin-left: 0px !important;
}

.centerbutton {
  -moz-box-pack: center !important;
  -moz-box-align: center !important;
  display: inline-flex !important;
  width: 32px !important;
  height: 32px !important;
  border-radius: 16px !important;
  line-height: 32px !important;
  text-align: 40% !important;
  background-color: rgb(0, 132, 137) !important;
  color: rgb(255, 255, 255) !important;
  justify-content: center !important;
  vertical-align: middle !important;
  margin-right: 36px !important;
  line-height: 10px !important;
  margin-left: 0px !important;
  align-items: center !important;
}
a:hover {
  text-decoration: underline !important;
  cursor:pointer;
}