.primary {
  display: flex block !important;
  /* -moz-box-direction: normal !important;
  -moz-box-orient: horizontal !important;
  flex-direction: column !important; */
  max-width: 680px;
  width: 58.3333% !important;
  padding-right: 8px !important;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.backRow {
  display: flex;
  flex-direction: row-reverse;
}
