
.starDisplay {
  display: flex;
  border: rebeccapurple solid 2px;
  min-width: 110px;
  flex-direction: row;
}
.star {
  display: inline-block;
  width:18px;
  height:18px;
  margin: 2px;
  flex-direction: column;
}